<mat-card class="card-container">
  <mat-card-content>

    <div class="input-container">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>user name</mat-label>
        <input matInput placeholder="Popescu" [formControl]="userName" required>
        <mat-error *ngIf="userName.invalid">{{getErrorEmailMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label> Email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorEmailMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div class="input-container">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Re-type Password</mat-label>
        <input matInput type="password" [formControl]="retypePassword" required>
        <mat-error *ngIf="retypePassword.invalid">{{getErrorPasswordMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>User Role</mat-label>
        <mat-select [formControl]="userRole" required>
          <mat-option *ngFor="let usr of ['ADMIN', 'USER',]" [value]="usr">
            {{usr}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userRole.invalid">{{getErrorMessage(userRole)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="div-buttons-container">
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>


  </mat-card-content>
</mat-card>
